extend layout

block feet
 script(src='views/index.js')

block content
    div#blog-post(style='color: #fff;')

    script(type='text/template', id='tmpl-post')
        <% _.each(posts, function(post){ %>
        hr
        h2.intro-text.text-center
            | <%= post.subject %>
        hr
        p
        h2.intro-text.text-center
            | <%= post.content %>
        <% });%>
